#block-views-our-clients-block {
  text-align: center;

  > h2 {
    @include title-section;
  }
}

.view-our-clients {
  .view-content {
    margin-top: $margin-top-block;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 100px;
  }

  .views-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
