$menu-height-static: 70px;
$menu-height-fixed: 50px;

#main-nav
{
  position: relative;
  z-index: 20;
  max-width: $max-page-width;
	height: $menu-height-static;
	
  .logo-svg {
    margin-left: -90px;
  }

	.menu-bar
	{
		background: $white;
		padding-bottom: 20px;
		position: relative;

	}

  $screen-xl: 1250px;

  @media (min-width:$screen-md) and (max-width: $screen-xl)  {
    .logo-svg {
      width: 250px;
      margin-left: 0;
      background-position: center center;
      background-repeat: no-repeat;
    }

    .menu-bar {
      @include fsize(1.1);
    }
  }

	@media (min-width:$screen-sm) AND (max-width:$screen-md - 1)
  {

		.logo IMG
		{
			width: 300px;
		}
  }
}

UL#main-menu
{
	position: absolute;
	bottom: 25px;
	right: 80px;

  > LI
  {
    position: relative;
    margin: 0 5px;
    padding: 0;

    A
    {
      text-decoration: none;
      display: inline-block;
      padding: 3px 4px;
      
      &.current
      {
				color: $black;
      }

			&:hover
      {
				color: $black;
				text-decoration: none;
      }
			
    }
  }

}

#main-nav .fixed-menu
{
	position: fixed;
	z-index: 99;
//  height: $menu-height-fixed !important;
	width:100%;
	top:0;
	animation: fixmenu .6s;
	padding-top: 15px;
//	padding-bottom: 20px;
	background-color: rgba($white,.9);

  @media (min-width:$screen-sm) AND (max-width:$screen-md - 1)
  {
    max-width: 710px;
  }

  @media (min-width:$screen-md) AND (max-width:$screen-lg - 1)
  {
    max-width: 930px;
  }

  @media (min-width:$screen-lg)
  {
    max-width: 1040px;
  }
}

@keyframes fixmenu
{
	from{margin-top: -100px}
	to{margin-top: 0}
}

