$max-page-width: 1200px;
$font-normal: 'Chronicle', times, sans;

$gray-1: #444;
$gray-2: #666;
$gray-3: #80858e;
$gray-6: #b8b8b9;
$gray-7: #e4e4e4;
$gray-8: #f2f2f2;
$gray-9: #fafafa;

$white: #fff;
$black: #000;
$blue-wawood: rgb(50, 33, 255);

@import 'drupal';
@import 'framework';
@import 'animations';
@import 'main-menu';
@import 'fonts';
@import 'sprites';
@import 'mobile-menu';

HTML
{
	
}

BODY
{
	font-family: $font-normal;
	font-size: 14px;
	line-height: 1.5;
}

STRONG, B
{
	font-weight: 500;
}

.color-blue-wawood
{
	color: $blue-wawood;
}

.color-gray-3
{
	color: $gray-3;
}

.color-gray-6
{
	color: $gray-6;
}

.color-gray-1
{
	color: $gray-1;
}

.bg-gray-8
{
	background-color: $gray-8;
}

#block-locale-language
{
	position: absolute;
	bottom: 25px;
	right: 0;

	UL
	{
		list-style: none;
		padding: 0;
		margin: 0 0 6px 0;
		overflow: auto;
		
		LI
		{
			float: left;
			padding: 0 1px;
			margin: 0 1px;

			A
			{
				color: $gray-6;
				display: block;
				text-decoration: none;
				text-transform: capitalize;
				border-right: 1px solid $gray-6;
				line-height: 1;
				padding-right: 3px;
				
				&:hover
				{
					color: $black;
				}
				
				&.active
				{
					color: $black;
				}
			}

			&:last-child
			{
				A
				{
					border: none;
				}
			}

		}
	}
}

#main-nav-mobile
{
	#block-locale-language
	{
		position: absolute;
		top: 0;
		right: 0;
		
		LI
		{
			padding: 0;
		}
	}
}

.headline
{
	letter-spacing: .15em;
}

.social-net-container
{
	position: absolute;
	right: 35px;

	.social-net
	{
		position: fixed;
		top: 120px;
		
		A
		{
			display: block;
			margin-bottom: 10px;
		}
	}
	
	@media (min-width:$screen-sm) AND (max-width:$screen-lg - 1)
	{
		right: 5px;
	}

	@media (max-width:$screen-sm - 1)
	{
		right: 18px;
		.social-net
		{
			top: 60px;
		}
	}

}

.fa
{
	&.angle-right, &.angle-left
	{
		display: inline-block;
		width: 22px;
		height: 40px;
		vertical-align: middle;
	}
	
	&.angle-right
	{
		background-image: url(../img/angle-right.png)
	}

	&.angle-left
	{
		background-image: url(../img/angle-left.png)
	}
}

.carousel-control
{
	
	.fa
	{
		position: absolute;
		top: 50%;
		margin-top: -20px;
	}

	&.right, &.left
	{
		background: none;
	}
}


FOOTER
{
	.copyright
	{
		margin-top: 40px;
	}
}

@import 'index';
@import 'sections';
@import 'portfolio';

@import 'override';