.element-hidden {
  display: none; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

.element-invisible.element-focusable:active, .element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto; }

DIV.tabs UL.tabs {
  padding: 0;
  list-style: none; }
  DIV.tabs UL.tabs LI {
    display: inline-block;
    padding: 5px 10px; }
    DIV.tabs UL.tabs LI.active {
      border-bottom: 1px solid; }
      DIV.tabs UL.tabs LI.active A {
        color: #666; }
    DIV.tabs UL.tabs LI A {
      color: #999; }
      DIV.tabs UL.tabs LI A:hover {
        text-decoration: none; }

#user-login {
  margin: 40px 15px; }
  #user-login LABEL {
    display: block; }
  #user-login .form-item {
    margin-bottom: 20px; }
    #user-login .form-item INPUT {
      width: 100%; }
  #user-login .description {
    font-size: .8em;
    color: #999; }

A {
  transition: all .3s; }

A.clean, .clean-a A {
  color: inherit;
  text-decoration: inherit; }

A.no-decoration, .no-decoration-a A {
  text-decoration: none; }
  A.no-decoration:hover, .no-decoration-a A:hover {
    text-decoration: none; }

UL.clean {
  list-style: none;
  margin: 0;
  padding: 0; }
  UL.clean LI {
    margin: 0;
    padding: 0; }

UL.horizontal LI {
  float: left;
  padding: 0 5px;
  display: inline-block; }

.img-responsive IMG, .responsive-img IMG {
  max-width: 100%;
  height: auto; }

IMG.fullwidth, .fullwidth-img IMG {
  width: 100%;
  height: auto; }

.opaque {
  opacity: 1 !important; }

.table {
  display: table;
  width: 100%; }
  .table .td {
    display: table-cell; }
    .table .td-middle {
      vertical-align: middle; }

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center; } }

@media (min-width: 768px) {
  .column-count-sm-2 {
    column-count: 2; } }

.uppercase {
  text-transform: uppercase; }

.entrance {
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveRight {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(10px); } }

.fadeInUp {
  animation-name: fadeInUp; }

.moveLeft {
  animation-name: moveLeft; }

.animationDelay {
  animation-delay: .5s; }

#main-nav {
  position: relative;
  z-index: 20;
  max-width: 1200px;
  height: 70px; }
  #main-nav .menu-bar {
    background: #fff;
    padding-bottom: 20px;
    position: relative; }
  @media (min-width: 768px) and (max-width: 991px) {
    #main-nav .logo IMG {
      width: 300px; } }

UL#main-menu {
  position: absolute;
  bottom: 25px;
  right: 80px; }
  UL#main-menu > LI {
    position: relative;
    margin: 0 10px;
    padding: 0; }
    UL#main-menu > LI A {
      text-decoration: none;
      display: inline-block;
      padding: 3px 4px; }
      UL#main-menu > LI A.current {
        color: #000; }
      UL#main-menu > LI A:hover {
        color: #000;
        text-decoration: none; }

#main-nav .fixed-menu {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  animation: fixmenu .6s;
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 0.9); }
  @media (min-width: 768px) and (max-width: 991px) {
    #main-nav .fixed-menu {
      max-width: 710px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #main-nav .fixed-menu {
      max-width: 930px; } }
  @media (min-width: 1200px) {
    #main-nav .fixed-menu {
      max-width: 1040px; } }

@keyframes fixmenu {
  from {
    margin-top: -100px; }
  to {
    margin-top: 0; } }

@font-face {
  font-family: 'Chronicle';
  src: url("../fonts/ChronicleTextG1-Roman-Pro.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Chronicle';
  src: url("../fonts/ChronicleTextG3-Semibd-Pro.otf");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Italic.ttf");
  font-weight: normal;
  font-style: italic; }

.font-normal {
  font-family: "Chronicle", times, sans;
  font-size: 14px; }

.font-raleway {
  font-family: 'Raleway'; }

.font-light {
  font-weight: 200; }

.font-regular {
  font-weight: normal; }

.font-bold {
  font-weight: 500; }

.font-size-xs {
  font-size: 0.8em; }

.font-size-s {
  font-size: 0.9em; }

.font-size-n {
  font-size: 14px; }

.font-size-m {
  font-size: 1.2em; }

.font-size-l {
  font-size: 1.5em; }
  @media (max-width: 767px) {
    .font-size-l {
      font-size: 1.2em; } }

.font-size-xl {
  font-size: 1.8em; }
  @media (max-width: 767px) {
    .font-size-xl {
      font-size: 1.2em; } }

.font-size-xxl {
  font-size: 2.2em; }
  @media (max-width: 767px) {
    .font-size-xxl {
      font-size: 1.5em; } }

.sprites .sprite {
  display: inline-block;
  vertical-align: middle; }

.sprites .audio, .sprite.audio {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat 0px -28px; }

.sprites .instagram, .sprite.instagram {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat 0px 0px; }

.sprites .linkedin, .sprite.linkedin {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat -17px 0px; }

.sprites .mail, .sprite.mail {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat 0px -14px; }

.sprites .pinterest, .sprite.pinterest {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 14px;
  background: url("../img/sprites.png") no-repeat -17px -14px; }

NAV#main-nav-mobile {
  width: 100%;
  line-height: 1;
  height: 40px; }
  NAV#main-nav-mobile .menu_icon {
    background: none;
    padding-left: 0; }
  NAV#main-nav-mobile .logo {
    height: 60px;
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; }
  NAV#main-nav-mobile .nav-bar {
    padding-top: 40px;
    text-align: left;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    z-index: 100; }
  NAV#main-nav-mobile .btn-primary {
    color: #000;
    padding: 10px;
    background: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: 0; }
  NAV#main-nav-mobile .menu--mobile--btn {
    display: inline-block;
    vertical-align: middle;
    height: 1.2em;
    width: 25px;
    margin: 0 10px;
    margin-top: -5px; }
    NAV#main-nav-mobile .menu--mobile--btn > DIV {
      border-bottom: 2px solid;
      margin-top: 7px; }
  NAV#main-nav-mobile UL {
    background: #fff;
    padding: 10px;
    list-style: none; }
    NAV#main-nav-mobile UL LI {
      padding: 5px 10px; }

BODY {
  font-family: "Chronicle", times, sans;
  font-size: 14px;
  line-height: 1.5; }

STRONG,
B {
  font-weight: 500; }

.color-blue-wawood {
  color: #3221ff; }

.color-gray-3 {
  color: #80858e; }

.color-gray-6 {
  color: #b8b8b9; }

.color-gray-1 {
  color: #444; }

.bg-gray-8 {
  background-color: #f2f2f2; }

#page-wrapper {
  overflow: hidden; }

#block-locale-language {
  position: absolute;
  bottom: 25px;
  right: 0; }
  #block-locale-language UL {
    list-style: none;
    padding: 0;
    margin: 0 0 6px 0;
    overflow: auto; }
    #block-locale-language UL LI {
      float: left;
      padding: 0 1px;
      margin: 0 1px; }
      #block-locale-language UL LI A {
        color: #b8b8b9;
        display: block;
        text-decoration: none;
        text-transform: capitalize;
        border-right: 1px solid #b8b8b9;
        line-height: 1;
        padding-right: 3px; }
        #block-locale-language UL LI A:hover {
          color: #000; }
        #block-locale-language UL LI A.active {
          color: #000; }
      #block-locale-language UL LI:last-child A {
        border: none; }

#main-nav-mobile #block-locale-language {
  position: absolute;
  top: 0;
  right: 0; }
  #main-nav-mobile #block-locale-language LI {
    padding: 0; }

.headline {
  letter-spacing: 0.15em; }

.social-net-container {
  position: absolute;
  right: 35px; }
  .social-net-container .social-net {
    position: fixed;
    top: 120px; }
    .social-net-container .social-net A {
      display: block;
      margin-bottom: 10px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .social-net-container {
      right: 5px; } }
  @media (max-width: -1) {
    .social-net-container {
      right: 18px; }
      .social-net-container .social-net {
        top: 60px; } }

.fa.angle-right, .fa.angle-left {
  display: inline-block;
  width: 22px;
  height: 40px;
  vertical-align: middle; }

.fa.angle-right {
  background-image: url(../img/angle-right.png); }

.fa.angle-left {
  background-image: url(../img/angle-left.png); }

.carousel-control .fa {
  position: absolute;
  top: 50%;
  margin-top: -20px; }

.carousel-control.right, .carousel-control.left {
  background: none; }

FOOTER .copyright {
  margin-top: 40px; }

#block-website-index {
  position: relative;
  padding-bottom: 67%;
  margin-bottom: 35px; }
  #block-website-index IMG {
    width: 100%;
    height: auto;
    position: absolute; }
  #block-website-index .indicators {
    position: absolute;
    width: 100%;
    height: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    bottom: 60px;
    text-align: center; }
    #block-website-index .indicators LI {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #000;
      border-radius: 50%;
      background: transparent;
      margin: 0 5px;
      cursor: pointer; }
      #block-website-index .indicators LI.active {
        background: #000; }

.section-divisor {
  border-bottom: 2px solid;
  width: 150px;
  display: inline-block; }

SECTION {
  margin: 70px 0;
  padding: 0 60px;
  position: relative; }
  SECTION .title {
    text-transform: uppercase;
    color: #3221ff;
    letter-spacing: 0.3em; }
  SECTION .body {
    margin: 60px 0; }
    @media (max-width: 767px) {
      SECTION .body {
        margin: 15px 0; } }
  SECTION .headline {
    margin: 60px 0; }
    @media (max-width: 767px) {
      SECTION .headline {
        margin: 15px 0; } }
  SECTION .subhead {
    max-width: 600px;
    display: inline-block; }
  SECTION .divisor {
    margin: 60px 0 40px;
    border-bottom: 2px solid;
    width: 150px;
    display: inline-block; }
  @media (max-width: 767px) {
    SECTION {
      padding: 10px; } }

SECTION.the-studio .background {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  top: 130px;
  height: 520px; }

SECTION.the-studio .title {
  height: 85px;
  max-width: 713px;
  padding-top: 10px;
  width: 100%;
  display: inline-block;
  background: white; }

SECTION.the-studio .body {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

SECTION.the-studio .subhead {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }

SECTION.services {
  background-color: #f2f2f2;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 150px; }
  SECTION.services H2 {
    margin-bottom: 30px;
    margin-top: 30px;
    letter-spacing: 2px; }
  SECTION.services .title {
    height: 65px;
    max-width: 713px;
    width: 100%;
    display: inline-block;
    background: white;
    transform: translateY(-15px); }
  SECTION.services .body {
    display: inline-block;
    max-width: 800px;
    margin-bottom: 40px; }
  SECTION.services .subhead {
    max-width: 900px;
    background: #fff;
    margin-top: -100px;
    position: relative;
    top: 100px; }
    @media (min-width: 768px) {
      SECTION.services .subhead {
        padding: 40px; } }
    @media (max-width: 767px) {
      SECTION.services .subhead {
        padding: 40px 10px; } }
  SECTION.services .services-list {
    margin-bottom: 60px; }
    SECTION.services .services-list .service {
      margin-top: 15px;
      margin-botom: 15px;
      padding: 40px 30px;
      background: #fff; }
      SECTION.services .services-list .service P {
        margin-bottom: 6px; }
      @media (min-width: 1200px) {
        SECTION.services .services-list .service {
          min-height: 545px; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        SECTION.services .services-list .service {
          min-height: 580px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        SECTION.services .services-list .service {
          padding: 40px 10px;
          min-height: 580px; } }

SECTION.about-us {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px; }
  SECTION.about-us .title {
    margin: 30px; }
  SECTION.about-us .subhead {
    max-width: 900px; }
  SECTION.about-us .image {
    margin-top: 40px; }
  SECTION.about-us .body {
    margin-top: 0; }
    @media (min-width: 768px) {
      SECTION.about-us .body {
        margin-left: 30px; } }
    @media (max-width: 767px) {
      SECTION.about-us .body {
        margin-top: 20px; } }

SECTION.contact {
  padding: 0; }
  SECTION.contact .title {
    margin: 30px; }
  SECTION.contact .image {
    margin-right: 30px; }
  SECTION.contact .body {
    margin: 30px 0; }
  SECTION.contact .subhead {
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
  SECTION.contact .headline {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; }
  @media (min-width: 768px) {
    SECTION.contact .bg-gray-8 {
      margin: 10px 30px;
      padding: 20px; } }
  @media (max-width: 767px) {
    SECTION.contact .bg-gray-8 {
      padding: 20px 10px; } }
  SECTION.contact .section-divisor {
    border-color: #fff; }
  SECTION.contact .background {
    top: 20px;
    height: 520px; }
  SECTION.contact .form {
    padding: 40px; }
    @media (max-width: 767px) {
      SECTION.contact .form {
        padding: 40px 10px; } }
    SECTION.contact .form FORM {
      max-width: 500px;
      width: 100%;
      display: inline-block; }
      SECTION.contact .form FORM INPUT[type="text"] {
        border: none;
        appareance: none;
        width: 80%;
        width: calc(100% - 80px);
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        outline: none; }
      SECTION.contact .form FORM TEXTAREA {
        display: block;
        width: 100%;
        border: none;
        resize: none;
        height: 200px;
        font-family: inherit;
        font-size: inherit;
        color: inherit; }
      SECTION.contact .form FORM .actions {
        margin-top: 10px; }
      SECTION.contact .form FORM .submit {
        appareance: none;
        border: 1px solid #3221ff;
        background: #fff;
        color: #000;
        padding: 8px 20px;
        text-transform: uppercase;
        transition: all 0.4s; }
        SECTION.contact .form FORM .submit:hover {
          background: #000;
          color: #fff; }
      SECTION.contact .form FORM.submitted :invalid {
        background-color: rgba(255, 0, 0, 0.2); }
    SECTION.contact .form LABEL {
      display: block;
      margin: 10px 0;
      border: 1px solid #3221ff;
      background: #fff;
      padding: 15px 10px;
      vertical-align: middle; }
      SECTION.contact .form LABEL .label {
        display: inline-block;
        width: 70px; }

@media (max-width: 767px) {
  .service-image {
    margin-left: -90px;
    margin-right: -90px; } }

SECTION#portfolio {
  position: relative;
  margin: 60px 0;
  padding-bottom: 200px; }
  SECTION#portfolio .title {
    margin-bottom: 60px; }
  SECTION#portfolio .logo {
    position: absolute;
    bottom: 0px; }
    @media (min-width: 768px) {
      SECTION#portfolio .logo {
        left: 200px; } }
  SECTION#portfolio #work-window .work-node {
    margin-bottom: 40px; }
  SECTION#portfolio #work-window A.close {
    color: inherit;
    margin-bottom: 40px;
    display: inline-block;
    cursor: pointer; }
    SECTION#portfolio #work-window A.close:hover {
      text-decoration: none; }
  SECTION#portfolio .work-item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s; }
    SECTION#portfolio .work-item .mask {
      position: absolute;
      background: #fff;
      border: 1.5px solid #3221ff;
      width: 100%;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s;
      top: 0;
      pointer-events: none; }
    SECTION#portfolio .work-item:hover .mask {
      transform: scale(1);
      opacity: 1; }
    SECTION#portfolio .work-item .label {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      color: #3221ff; }
    SECTION#portfolio .work-item IMG {
      max-width: 100%;
      height: auto; }
  @media (min-width: 1200px) {
    SECTION#portfolio.work-animated .work:nth-child(2) {
      transform: translate(0, 40px); }
    SECTION#portfolio.work-animated .work:nth-child(3) {
      transform: translate(40px, -40px); }
    SECTION#portfolio.work-animated .work:nth-child(4) {
      transform: translate(-150px, 180px); }
    SECTION#portfolio.work-animated .work:nth-child(5) {
      transform: translate(750px, -250px); }
    SECTION#portfolio.work-animated .work:nth-child(6) {
      transform: translate(-90px, 40px); }
    SECTION#portfolio.work-animated .work:nth-child(7) {
      transform: translate(-20px, 140px); }
    SECTION#portfolio.work-animated .work:nth-child(8) {
      transform: translate(175px, 40px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    SECTION#portfolio.work-animated .work:nth-child(2) {
      transform: translate(100px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(3) {
      transform: translate(200px, -10px); }
    SECTION#portfolio.work-animated .work:nth-child(4) {
      transform: translate(190px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(5) {
      transform: translate(-400px, 20px); }
    SECTION#portfolio.work-animated .work:nth-child(6) {
      transform: translate(90px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(7) {
      transform: translate(90px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(8) {
      transform: translate(180px, 40px); } }
  @media (max-width: 991px) {
    SECTION#portfolio.work-animated {
      text-align: center; }
      SECTION#portfolio.work-animated .work {
        margin: 5px; } }

.modal-content .work {
  margin: 0 60px; }
  .modal-content .work .body {
    margin: 70px 0; }

SECTION#portfolio {
  position: relative;
  margin: 60px 0;
  padding-bottom: 200px; }
  SECTION#portfolio .title {
    margin-bottom: 60px; }
  SECTION#portfolio .logo {
    position: absolute;
    bottom: 0px; }
    @media (min-width: 768px) {
      SECTION#portfolio .logo {
        left: 200px; } }
  SECTION#portfolio #work-window .work-node {
    margin-bottom: 40px; }
  SECTION#portfolio #work-window A.close {
    color: inherit;
    margin-bottom: 40px;
    display: inline-block;
    cursor: pointer; }
    SECTION#portfolio #work-window A.close:hover {
      text-decoration: none; }
  SECTION#portfolio .work-item {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s; }
    SECTION#portfolio .work-item .mask {
      position: absolute;
      background: #fff;
      border: 1.5px solid #3221ff;
      width: 100%;
      transform: scale(0);
      opacity: 0;
      transition: all 0.3s;
      top: 0;
      pointer-events: none; }
    SECTION#portfolio .work-item:hover .mask {
      transform: scale(1);
      opacity: 1; }
    SECTION#portfolio .work-item .label {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      color: #3221ff; }
    SECTION#portfolio .work-item IMG {
      max-width: 100%;
      height: auto; }
  @media (min-width: 1200px) {
    SECTION#portfolio.work-animated .work:nth-child(2) {
      transform: translate(0, 40px); }
    SECTION#portfolio.work-animated .work:nth-child(3) {
      transform: translate(40px, -40px); }
    SECTION#portfolio.work-animated .work:nth-child(4) {
      transform: translate(-150px, 180px); }
    SECTION#portfolio.work-animated .work:nth-child(5) {
      transform: translate(750px, -250px); }
    SECTION#portfolio.work-animated .work:nth-child(6) {
      transform: translate(-90px, 40px); }
    SECTION#portfolio.work-animated .work:nth-child(7) {
      transform: translate(-20px, 140px); }
    SECTION#portfolio.work-animated .work:nth-child(8) {
      transform: translate(175px, 40px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    SECTION#portfolio.work-animated .work:nth-child(2) {
      transform: translate(100px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(3) {
      transform: translate(200px, -10px); }
    SECTION#portfolio.work-animated .work:nth-child(4) {
      transform: translate(190px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(5) {
      transform: translate(-400px, 20px); }
    SECTION#portfolio.work-animated .work:nth-child(6) {
      transform: translate(90px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(7) {
      transform: translate(90px, 0); }
    SECTION#portfolio.work-animated .work:nth-child(8) {
      transform: translate(180px, 40px); } }
  @media (max-width: 991px) {
    SECTION#portfolio.work-animated {
      text-align: center; }
      SECTION#portfolio.work-animated .work {
        margin: 5px; } }

.modal-content .work {
  margin: 0 60px; }
  .modal-content .work .body {
    margin: 70px 0; }

.briefcase__tabs {
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 20px; }
  @media screen and (max-width: 992px) {
    .briefcase__tabs {
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row nowrap;
      scroll-snap-type: x mandatory;
      white-space: nowrap;
      overflow: auto; } }
  .briefcase__tabs .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f2f2f2;
    cursor: pointer; }
    @media screen and (max-width: 992px) {
      .briefcase__tabs .tab {
        min-width: 300px;
        min-height: 300px;
        scroll-snap-align: center; } }
    .briefcase__tabs .tab.active .briefcase__image {
      opacity: 1; }
    .briefcase__tabs .tab.active .briefcase__title h2 {
      opacity: 0; }
    .briefcase__tabs .tab:hover .briefcase__image {
      opacity: 1; }
    .briefcase__tabs .tab:hover .briefcase__title h2 {
      opacity: 0; }

.briefcase__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.4s linear; }

.briefcase__title h2 {
  font-size: 1.8em;
  font-family: Raleway;
  font-weight: bold;
  transition: opacity 0.4s linear; }

@media screen and (max-width: 992px) {
  .briefcase__title {
    text-align: center; } }

.briefcase__content .content {
  display: none; }
  .briefcase__content .content.active {
    display: block; }

.briefcase__content-title {
  margin-bottom: 20px;
  font-family: Raleway;
  text-align: center;
  text-transform: uppercase; }
  @media screen and (max-width: 992px) {
    .briefcase__content-title h3 {
      font-size: 20px; } }

.briefcase__content-body p {
  font-size: 1.5em;
  font-family: Raleway;
  text-align: center;
  line-height: 1.5; }
  @media screen and (max-width: 992px) {
    .briefcase__content-body p {
      font-size: 18px; } }

.briefcase__content-image {
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .briefcase__content-image img {
      max-width: 100%;
      height: auto; } }

.container {
  padding: 40px 20px;
  position: relative; }
  @media (min-width: 1200px) {
    .container {
      padding: 60px 80px 40px;
      width: 1200px; } }
  @media (max-width: 767px) {
    .container {
      padding: 15px;
      padding-right: 20px; } }

.modal .modal-content {
  border-radius: 0;
  box-shadow: none;
  border: none; }

.modal .modal-header {
  min-height: 0; }

.modal .modal-body {
  padding: 0; }

.modal .modal-dialog {
  width: calc(100% - 30px);
  max-width: 900px;
  bottom: 0;
  margin-top: 20px; }

.modal .modal-header {
  border: none;
  padding: 0; }
  .modal .modal-header .close {
    position: absolute;
    padding: 0;
    right: 30px;
    top: 30px;
    border: 1px solid;
    z-index: 10;
    font-size: 25px;
    font-weight: bold;
    color: #80858e;
    background: none;
    line-height: 1.3em;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    text-align: center;
    transition: all .3s; }
    .modal .modal-header .close:hover {
      color: #000; }
    @media (max-width: 767px) {
      .modal .modal-header .close {
        font-size: 15px; } }

.modal .modal-caption {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 10px 30px; }
  @media (max-width: 767px) {
    .modal .modal-caption {
      position: static;
      padding: 10px;
      font-size: 14px; } }

.modal-backdrop {
  background: #fff; }

.banner-home {
  width: 1200px;
  max-width: 100%; }
  .banner-home__container {
    max-height: 680px;
    overflow: hidden; }
  .banner-home__slide {
    border: none;
    outline: none; }
  .banner-home__image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover; }

#block-views-our-clients-block {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative; }
  #block-views-our-clients-block::after {
    content: "";
    width: 200px;
    height: 2.2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; }
  #block-views-our-clients-block > h2 {
    font-size: 14px;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; }

.view-our-clients .view-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 100px;
  grid-gap: 10px 0; }
  @media screen and (max-width: 992px) {
    .view-our-clients .view-content {
      grid-gap: 20px 0; } }

.view-our-clients .views-row {
  display: flex;
  justify-content: center;
  align-items: center; }

#block-views-about-us-block {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 50px;
  position: relative; }
  #block-views-about-us-block::after {
    content: "";
    width: 115px;
    height: 2.2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; }
  #block-views-about-us-block > h2 {
    font-size: 14px;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; }
  #block-views-about-us-block .view-header {
    margin-bottom: 50px;
    padding-bottom: 0;
    position: relative; }
    #block-views-about-us-block .view-header::after {
      content: "";
      width: 130px;
      height: 2.2px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000; }
    @media screen and (max-width: 992px) {
      #block-views-about-us-block .view-header {
        padding-bottom: 25px; } }
    #block-views-about-us-block .view-header h2 {
      padding: 15px 0;
      font-size: 4.5em;
      font-family: Chronicle;
      text-transform: uppercase;
      color: #3221ff;
      letter-spacing: 6px; }
      @media screen and (max-width: 992px) {
        #block-views-about-us-block .view-header h2 {
          font-size: 20px; } }
    #block-views-about-us-block .view-header p {
      padding: 40px 0;
      font-size: 1.5em;
      font-family: Raleway;
      line-height: 2; }
      @media screen and (max-width: 992px) {
        #block-views-about-us-block .view-header p {
          padding: 12px 0;
          font-size: 18px; } }
  #block-views-about-us-block .view-content .views-row {
    margin-bottom: 40px; }
    @media screen and (max-width: 992px) {
      #block-views-about-us-block .view-content .views-row {
        margin-bottom: 15px; } }
  #block-views-about-us-block .view-content .field-content {
    display: flex; }
    @media screen and (max-width: 992px) {
      #block-views-about-us-block .view-content .field-content {
        flex-direction: column; } }
  #block-views-about-us-block .view-content .main-img {
    padding-top: 8%; }
    @media screen and (max-width: 992px) {
      #block-views-about-us-block .view-content .main-img {
        margin-bottom: 25px;
        padding-top: 20px; }
        #block-views-about-us-block .view-content .main-img img {
          max-width: 100%;
          height: auto; } }
  #block-views-about-us-block .view-content .main-img {
    flex: 1 1 45%; }
  #block-views-about-us-block .view-content .body {
    flex: 1 1 55%; }
  #block-views-about-us-block .view-content .body {
    text-align: left; }
    #block-views-about-us-block .view-content .body p {
      margin-bottom: 25px; }
      @media screen and (max-width: 992px) {
        #block-views-about-us-block .view-content .body p {
          margin-bottom: 10px; } }
      #block-views-about-us-block .view-content .body p:nth-child(1) {
        font-size: 1.2em;
        font-family: Chronicle;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        letter-spacing: 3px; }
        @media screen and (max-width: 992px) {
          #block-views-about-us-block .view-content .body p:nth-child(1) {
            padding-left: 0; } }
      #block-views-about-us-block .view-content .body p:nth-child(2) {
        padding-left: 10px;
        font-size: 1.2em;
        color: #80858e; }
        @media screen and (max-width: 992px) {
          #block-views-about-us-block .view-content .body p:nth-child(2) {
            padding-left: 0; } }
      #block-views-about-us-block .view-content .body p:nth-child(n + 3) {
        padding-left: 10px;
        font-family: Raleway;
        line-height: 2;
        color: #666; }
        @media screen and (max-width: 992px) {
          #block-views-about-us-block .view-content .body p:nth-child(n + 3) {
            padding-left: 0; } }

#block-views-about-us-block-1 {
  text-align: center; }
  #block-views-about-us-block-1 > h2 {
    padding: 25px 0 40px;
    font-size: 14px;
    font-family: Raleway;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; }
  #block-views-about-us-block-1 .views-row {
    margin-bottom: 55px; }
  #block-views-about-us-block-1 .field-content {
    text-align: left; }
    #block-views-about-us-block-1 .field-content p:nth-child(1) {
      margin-bottom: 20px;
      font-size: 1.2em;
      font-family: Chronicle;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 3px; }
      @media screen and (max-width: 992px) {
        #block-views-about-us-block-1 .field-content p:nth-child(1) {
          margin-bottom: 10px; } }
    #block-views-about-us-block-1 .field-content p:nth-child(2) {
      margin-bottom: 20px;
      font-size: 1.2em;
      color: #80858e; }
      @media screen and (max-width: 992px) {
        #block-views-about-us-block-1 .field-content p:nth-child(2) {
          margin-bottom: 10px; } }
    #block-views-about-us-block-1 .field-content p:nth-child(n + 3) {
      font-family: Raleway;
      line-height: 2;
      color: #666; }

.page-blog h1 {
  margin: auto;
  padding: 0;
  font-size: 0;
  visibility: hidden; }

.page-blog #block-system-main {
  margin-bottom: 30px;
  padding-bottom: 60px;
  position: relative; }
  .page-blog #block-system-main::after {
    content: "";
    width: 180px;
    height: 2.2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; }
  .page-blog #block-system-main img {
    width: 100%;
    height: auto;
    max-height: 700px;
    object-fit: cover; }

.page-blog #block-views-blog-block-2 h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 14px;
  font-family: Raleway;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }

.page-blog .blog-post {
  text-align: center; }
  .page-blog .blog-post__headline {
    margin-bottom: 100px;
    font-weight: 100;
    text-align: center;
    font-size: 3.4em;
    font-family: Chronicle;
    text-transform: uppercase;
    color: #3221ff;
    letter-spacing: 6px; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__headline {
        margin-bottom: 40px;
        font-size: 20px; } }
  .page-blog .blog-post__card {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-bottom: 65px;
    padding-bottom: 65px;
    position: relative; }
    .page-blog .blog-post__card::after {
      content: "";
      width: 100%;
      height: 2.2px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000; }
    .page-blog .blog-post__card:nth-child(even) {
      flex-direction: row-reverse; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__card {
        padding: 0 15px 40px;
        flex-direction: column;
        margin-bottom: 40px;
        padding-bottom: 40px;
        position: relative; }
        .page-blog .blog-post__card::after {
          content: "";
          width: 100%;
          height: 2.2px;
          margin: 0 auto;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #000; }
        .page-blog .blog-post__card:nth-child(even) {
          flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .page-blog .blog-post__card {
        padding: 0 0 40px; } }
  .page-blog .blog-post__image {
    height: 550px;
    flex: 1 1 50%; }
    .page-blog .blog-post__image img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__image {
        width: 100%;
        height: auto;
        max-width: 550px;
        max-height: 450px;
        margin-bottom: 50px;
        overflow: hidden; } }
  .page-blog .blog-post__content {
    padding: 0 35px;
    flex: 1 1 50%; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__content {
        padding: 5px; } }
  .page-blog .blog-post__type {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 45px;
    font-family: Raleway;
    overflow: hidden;
    margin-top: 0;
    padding-top: 25px;
    position: relative; }
    .page-blog .blog-post__type::after {
      content: "";
      width: 180px;
      height: 2.2px;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background-color: #000; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__type {
        margin-bottom: 30px; } }
  .page-blog .blog-post__title {
    margin-bottom: 35px; }
    .page-blog .blog-post__title h3 {
      font-size: 2.5em;
      font-family: Chronicle;
      text-transform: uppercase;
      color: #3221ff;
      letter-spacing: 6px; }
    @media screen and (max-width: 992px) {
      .page-blog .blog-post__title {
        margin-bottom: 30px; }
        .page-blog .blog-post__title h3 {
          font-size: 20px; } }
  .page-blog .blog-post__body {
    margin-bottom: 55px;
    font-size: 1.2em;
    font-family: Raleway; }
  .page-blog .blog-post__view-more a {
    padding: 12px 35px 12px 15px;
    font-size: 1em;
    font-family: Raleway;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    background-color: #3221ff;
    color: #fff; }

.comments-blog {
  margin-top: 45px; }
  .comments-blog .title {
    margin-bottom: 40px;
    display: inline-block;
    font-size: 16px;
    font-family: Raleway;
    text-transform: uppercase; }
    .comments-blog .title:first-child {
      margin-right: 20px; }
    .comments-blog .title:nth-child(2) {
      cursor: pointer; }
    @media screen and (max-width: 992px) {
      .comments-blog .title {
        font-size: 12px;
        margin: 5px 0; }
        .comments-blog .title:nth-child(2) {
          margin-bottom: 10px; } }
  .comments-blog .comment {
    margin-bottom: 20px;
    padding: 25px 40px;
    background-color: #f2f2f2; }
    .comments-blog .comment__info {
      margin-bottom: 15px; }
    .comments-blog .comment__author {
      margin-right: 10px;
      font-size: 16px;
      font-family: Raleway;
      font-weight: bold;
      text-transform: uppercase;
      color: #666; }
    .comments-blog .comment__created {
      font-weight: bold; }
    .comments-blog .comment__body {
      font-size: 16px; }
    .comments-blog .comment .links {
      margin-top: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style: none; }
      .comments-blog .comment .links li {
        margin-right: 10px; }
    .comments-blog .comment .field-label {
      display: none; }
    @media screen and (max-width: 992px) {
      .comments-blog .comment {
        padding: 25px; } }
  .comments-blog .comment-form > div {
    margin-bottom: 30px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-rows: auto repeat(2, 40px);
    grid-template-areas: 'body body' 'name email' 'website .' 'actions actions';
    grid-gap: 15px 50px; }
    @media screen and (max-width: 992px) {
      .comments-blog .comment-form > div {
        display: flex;
        flex-direction: column; } }
  .comments-blog .comment-form .form-item.form-type-item,
  .comments-blog .comment-form .form-item-name {
    display: none; }
  .comments-blog .comment-form .form-item input {
    width: 100%;
    max-width: 100%;
    padding: 8px 10px;
    border: 1px solid #80858e;
    background-color: #f2f2f2; }
    .comments-blog .comment-form .form-item input::placeholder {
      font-family: Raleway;
      text-transform: uppercase; }
      @media screen and (max-width: 992px) {
        .comments-blog .comment-form .form-item input::placeholder {
          font-size: 12px; } }
  .comments-blog .comment-form label,
  .comments-blog .comment-form a {
    font-size: 0; }
  .comments-blog .comment-form .field-name-comment-body {
    grid-area: body; }
    .comments-blog .comment-form .field-name-comment-body textarea {
      width: 100%;
      height: 150px;
      max-width: 100%;
      padding: 8px 10px;
      border: 1px solid #80858e;
      background-color: #f2f2f2;
      resize: none; }
      .comments-blog .comment-form .field-name-comment-body textarea::placeholder {
        font-family: Raleway;
        text-transform: uppercase; }
        @media screen and (max-width: 992px) {
          .comments-blog .comment-form .field-name-comment-body textarea::placeholder {
            font-size: 12px; } }
  .comments-blog .comment-form .field-name-field-name {
    grid-area: name; }
  .comments-blog .comment-form .field-name-field-e-mail {
    grid-area: email; }
  .comments-blog .comment-form .field-name-field-website {
    grid-area: website; }
  .comments-blog .comment-form .form-actions {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area: actions;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .comments-blog .comment-form .form-actions {
        margin-top: 30px; } }
    .comments-blog .comment-form .form-actions::after {
      content: '\003e';
      font-size: 16px;
      font-weight: bold;
      color: #3221ff; }
  .comments-blog .comment-form .form-submit {
    margin-right: 3px;
    border: none;
    font-size: 1.2em;
    font-family: Raleway;
    text-transform: uppercase;
    background-color: transparent;
    color: #3221ff; }
    @media screen and (max-width: 992px) {
      .comments-blog .comment-form .form-submit {
        font-size: 14px; } }

#popup {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999999; }

.content-popup {
  max-width: max-content;
  margin: 0px auto;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 50vh;
  transform: translateY(-50%);
  min-height: 250px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px #666666; }

.popup-overlay {
  left: -100%;
  position: absolute;
  top: 0;
  width: 200vw;
  height: 100%;
  z-index: 999999;
  display: none;
  background-color: #000000;
  cursor: pointer;
  opacity: 0.7; }

#close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer; }
  #close:hover {
    opacity: 1; }
  #close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333; }
  #close:before {
    transform: rotate(45deg); }
  #close:after {
    transform: rotate(-45deg); }

.blog-page__wrapper {
  width: 100%;
  height: auto;
  position: relative; }
  .blog-page__wrapper .slick-arrow {
    display: none !important; }
  .blog-page__wrapper .slick-arrow {
    width: 60px;
    height: auto;
    border: none;
    position: absolute;
    top: 50%;
    font-size: 1.5em;
    font-family: Raleway;
    text-transform: uppercase;
    background-color: transparent;
    outline: none; }
    .blog-page__wrapper .slick-arrow::before {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
      transform: translateY(-100%); }
  .blog-page__wrapper .slick-prev {
    left: calc(0% - 70px - 25px); }
    .blog-page__wrapper .slick-prev::before {
      content: "\003C"; }
  .blog-page__wrapper .slick-next {
    right: calc(0% - 70px - 25px); }
    .blog-page__wrapper .slick-next::before {
      content: "\003E"; }
  @media screen and (min-width: 1400px) {
    .blog-page__wrapper .slick-arrow {
      display: initial !important; } }

.blog-page__slider {
  max-height: 680px; }
  .blog-page__slider .slick-list,
  .blog-page__slider .slick-track {
    height: 100%;
    max-height: inherit; }

.blog-page__slide img {
  width: 100%;
  max-width: 100%;
  object-fit: cover; }

.blog-page__type {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: Raleway;
  overflow: hidden;
  margin-top: 50px;
  padding-top: 25px;
  position: relative; }
  .blog-page__type::after {
    content: "";
    width: 180px;
    height: 2.2px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #000; }
  @media screen and (max-width: 992px) {
    .blog-page__type {
      margin-bottom: 30px; } }

.blog-page__title {
  margin-bottom: 45px; }
  .blog-page__title h1 {
    text-align: center;
    font-size: 3.3em;
    font-family: Chronicle;
    text-transform: uppercase;
    color: #3221ff;
    letter-spacing: 6px; }
  @media screen and (max-width: 992px) {
    .blog-page__title {
      margin-bottom: 30px; }
      .blog-page__title h1 {
        font-size: 20px; } }

.blog-page__body {
  margin-bottom: 80px; }
  .blog-page__body p {
    margin-bottom: 40px;
    font-size: 1.3em;
    font-family: Raleway;
    line-height: 1.5;
    text-align: center; }
    .blog-page__body p:last-child {
      margin-bottom: 0; }
    @media screen and (max-width: 992px) {
      .blog-page__body p {
        margin-bottom: 15px;
        padding: 12px 0;
        font-size: 18px; } }

.blog-page__post-images {
  display: flex;
  flex-wrap: wrap; }
  @media screen and (max-width: 768px) {
    .blog-page__post-images {
      flex-direction: column; } }

.blog-page__image {
  height: 550px;
  margin: 20px;
  flex: 1 1 45%; }
  .blog-page__image:nth-child(5n) {
    margin: 20px 0;
    flex: 1 1 100%; }
  .blog-page__image img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover; }
  @media screen and (max-width: 992px) {
    .blog-page__image {
      max-height: 380px;
      margin: 10px; } }
  @media screen and (max-width: 768px) {
    .blog-page__image {
      max-height: 250px;
      margin: 0 0 25px;
      flex: 1 1 100%; }
      .blog-page__image:nth-child(5n) {
        margin: 0 0 25px;
        flex: 1 1 100%; } }

.blog-more {
  margin-top: 20px; }
  .blog-more__card {
    padding: 0 10px; }
  .blog-more__headline {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 70px;
    font-family: Raleway;
    text-align: center;
    overflow: hidden; }
  .blog-more__image {
    height: 230px; }
    .blog-more__image img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover; }
  .blog-more__title h3 {
    width: max-content;
    margin: 15px auto;
    font-size: 1.2em;
    font-family: Raleway;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden; }
  .blog-more .slick-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
    .blog-more .slick-dots li {
      margin: 0 15px; }
      .blog-more .slick-dots li::marker {
        font-size: 1.6em; }
    .blog-more .slick-dots button {
      border: none;
      font-size: 0;
      background-color: transparent;
      outline: none; }

.block-wawood-instagram-block > h2 {
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  font-family: Raleway;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }

.instagram-posts {
  margin: 0; }
  .instagram-posts h3 {
    margin-bottom: 30px;
    text-align: center; }
    .instagram-posts h3 a {
      text-decoration: none;
      font-size: 1.2em;
      font-family: Raleway;
      text-transform: uppercase;
      color: #3221ff;
      letter-spacing: 6px; }
  .instagram-posts__image {
    padding: 0 10px; }
    .instagram-posts__image img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover; }
  .instagram-posts .slick-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center; }
    .instagram-posts .slick-dots li {
      margin: 0 15px; }
      .instagram-posts .slick-dots li::marker {
        font-size: 1.6em; }
    .instagram-posts .slick-dots button {
      border: none;
      font-size: 0;
      background-color: transparent;
      outline: none; }
